Arquivos e pastas Python,
pycache/
*.py[cod]
*.pyo
*.pyc


Ambiente virtual,
venv/
.env
*.env

Arquivos de log e dumps,
*.log
*.sqlite3

VSCode,
.vscode/

Arquivos do sistema (Windows/macOS),
.DS_Store
Thumbs.db

