
:root {

    --perfil-color: var(--orange-300);
    --theme-color: var(--orange-500);
    --alert-color: var(--red-500);
    --confirm-color: var(--green-500);
    --price-color: var(--green-700);
    --text-color-2: #68717A;

    /*blue-scale*/
    --orange-300:#F9AD7E;
    --orange-400:#F89D65;
    --orange-500:#F6853F;
    
    /*red-scale*/
    --red-500:#F45E5E;

    /*green-scale*/
    --green-500:#50EB9E;
    --green-600:#49D690;
    --green-700:#39A770;
}


