
{% extends 'layout.html' %}

{% block title %}
    Cafeteria Voyage
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pedido.css') }}">
{% endblock %}

{% block content %}
    <nav class="navbar bg-body-tertiary py-0">
        <div class="container-fluid px-3 border-bottom d-flex align-items-center py-2">
            <div class="d-flex">
                <a class="navbar-toggler border-0 px-0" href="{{ url_for('pratos.ver_pratos') }}">
                    <span class="bi bi-arrow-left"></span>
                </a>
                <h4 class="mb-0 ps-4">Pedido #{{ pedido.id }}</h4>
            </div>
            <img src="{{ url_for('static', filename='img/M_img.png') }}" alt="">
        </div>
    </nav>

    <form method="POST" action="{{ url_for('pedido.confirmar_pedido', pedido_id=pedido.id) }}">
        <div class="px-3 mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="mb-0 fw-medium">Mesa para o pedido:</p>
                    <small class="text-muted">Escolha 1 mesa</small>
                </div>
                <select class="form-select mt-1 w-auto" name="mesa_id" required style="font-weight: 500;">
                    <option value="" disabled selected>Selecione</option>
                    {% for mesa in mesas %}
                        {% set ns = namespace(mesa_ocupada=false) %}
                        {% for p in mesa.pedidos %}
                            {% if p.status != 'concluído' %}
                                {% set ns.mesa_ocupada = true %}
                            {% endif %}
                        {% endfor %}

                        <option value="{{ mesa.id }}"
                            {% if pedido.mesa_id == mesa.id %}selected{% endif %}
                            {% if ns.mesa_ocupada and pedido.mesa_id != mesa.id %}disabled{% endif %}>
                            Mesa {{ mesa.id }} - {% if ns.mesa_ocupada and pedido.mesa_id != mesa.id %}Ocupada{% else %}Disponível{% endif %}
                        </option>
                    {% endfor %}
</select>
            </div>

            <hr>

            <div>
                <h5 class="fw-semibold">Itens do pedido</h5>
                {% for item in pedido.itens %}
                <div class="d-flex justify-content-between mt-3 align-items-center">
                    <div class="w-75">
                        <p class="mb-1 fw-semibold">{{ item.cardapio.nome }}</p>
                        <p class="mb-1 text-muted small">{{ item.cardapio.descricao }}</p>
                        
                        {% if item.opcional_escolhido %}
                            <p class="mb-1 text-primary small">
                                <strong>Opcional:</strong> {{ item.opcional_escolhido }}
                            </p>
                        {% endif %}
                        
                        <p class="text-success fw-semibold">
                            R$ {{ '%.2f'|format(item.preco_unitario * item.quantidade) }}
                        </p>
                        
                        {% if item.observacao %}
                            <p class="mb-1 text-muted small">
                                <strong>Obs:</strong> {{ item.observacao }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                
                <div class="text-center mt-4">
                    <a href="{{ url_for('pratos.ver_pratos', pedido_id=pedido.id) }}" class="btn btn-outline-danger fw-medium">
                        Adicionar mais itens
                    </a>
                </div>
            </div>

            <div class="mt-5">
                <h5 class="fw-semibold">Resumo de valores</h5>
                <div class="d-flex justify-content-between mt-4">
                    <span class="text-muted">Subtotal:</span>
                    <span class="text-muted">R$ {{ '%.2f'|format(pedido.preco_total) }}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="fw-medium">Total:</span>
                    <span class="fw-medium">R$ {{ '%.2f'|format(pedido.preco_total) }}</span>
                </div>
            </div>
        </div>

        <div class="d-flex fixed-bottom pt-3 pb-2 px-3 bg-light">
            <div class="fw-semibold w-50">
                <p class="mb-0">Total</p>
                <p class="mb-0">
                    R$ {{ '%.2f'|format(pedido.preco_total|float) }} /
                    {{ pedido.itens|length }} item{% if pedido.itens|length > 1 %}s{% endif %}
                </p>
            </div>
            <button type="submit" class="btn btn-primary fw-semibold w-50">Confirmar Pedido</button>
        </div>
    </form>
{% endblock %}