{% extends 'layout.html' %}

{% block title %}
    Login | Cafeteria Voyage
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5 text-center">
        <img src="../static/img/Voyage-tag.jpg"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1" style="background-color: var(--theme-color);">
              <i class="bi bi-facebook"></i>
            </button>

            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1" style="background-color: var(--theme-color);">
              <i class="bi bi-twitter"></i>
            </button>

            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1" style="background-color: var(--theme-color);">
              <i class="bi bi-linkedin"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

         
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label>
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
          </div>

        
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" />
          </div>

          <div class="d-flex justify-content-between align-items-center">
       
            <div class="form-check mb-0">
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <a href="/cardapio" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: var(--theme-color);">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5" style="background-color: #473C38;">
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2025. All rights reserved.
    </div>
    <div >
      <a href="#!" class="text-white me-4">
        <i class="bi bi-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="bi bi-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
    
  </div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}